h1{
    font-family: 'Trebuchet MS';
    font-size: 100px;
    margin:0px;
    }
    
    a{
    font-family: 'Trebuchet MS';
    font-size: 50px;
    margin:0px;
    text-decoration: none;
    
    }
    
    a:hover{
        color:green;
        
        }
    
    ul{
        list-style: none;
    }
    p{
    font-family: 'Trebuchet MS';
    font-size: 50px;
    margin:0px;
    }
    
    
    div{
    width:40%;
    padding:50px;
    background-color: beige;
    border: solid red 5px;
    border-radius:10px;
    
    }